<html>
    {% extends 'employee/navbar.html'%}
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </head>
    {% block content %}
    <body>
	<style>
	body{
	background-color:grey;
	}
	</style>
        <form method="POST">
            {% csrf_token %}
            <table class="table table-dark table-hover">
                <tr>
                        <th>Employee ID</th>
                        <th>Name</th>
                        <th>Father's Name</th>
                        <th>Mother's Name</th>
                        <th>Date of birth</th>
                        <th>Gender</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Phone number</th>
                        <th>Designation</th>
                </tr>
               {% for i in allobjs %}
                <tr>
                    <td>{{i.emp_id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.father}}</td>
                    <td>{{i.mother}}</td>
                    <td>{{i.dob}}</td>
                    <td>{{i.gender}}</td>
                    <td>{{i.address}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.designation}}</td>

                </tr>
                {%endfor%}
            </table>
            <select name="emp" id="">
                {% for i in allobjs %}
                <option value="{{i.emp_id}}">{{i.emp_id}}</option>
                {{i.emp_id}}
                {% endfor %}
            </select>
            <button name="dele-emp">delete</button>
        </form>

    </body>
    {%endblock%}
</html>
