<html>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
	
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark" >



            <ul class="navbar-nav" >
              <li class="nav-item">
                <a class="nav-link" href="{% url 'bus-details' %}">BUS Details</a>

              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Staff
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'insert-emp'%}">New Entry</a>
                  <a class="dropdown-item" href="{% url 'delete-emp' %}">Delete Entry</a>
                  <a class="dropdown-item" href="{% url 'update-emp'%}">Update Entry</a>
                  <a class="dropdown-item" href="{% url 'assign-duty' %}">Assign Duties</a>
                  <a class="dropdown-item" href="{% url 'assignedduties' %}">Assigned Duties</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Student
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'student-approve' %}">Approval</a>
                  <a class="dropdown-item" href="{% url 'update-dele-student'%}">Update or Delete student</a>

                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  College
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{%url 'college-approve'%}">Approval</a>
                </div>
              </li>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>

                </li>
            </ul>
          </ul>
          </nav>
          {% block content %}
          {% endblock%}
    </body>
</html>
