<!DOCTYPE html>
{% extends 'employee/navbar.html'%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    {% block content%}
    <form method="POST">
        {% csrf_token %}
        <table class="table table-dark table-hover">
            <tr>
                    <th>University Serial Number</th>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Father's Name</th>
                    <th>Mother's Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone number</th>
                    <th>Start Stop</th>
                    <th>Destination Stop</th>
                    <th>Change Over</th>
                    <th>Acknowledgement Number</th>
                    <th>Status</th>
                    <th>College</th>
            </tr>
           {% for i in allobjs %}
            <tr>
                <td>{{i.usn}}</td>
                <td>{{i.name}}</td>
                <td>{{i.dob}}</td>
                <td>{{i.gender}}</td>
                <td>{{i.father}}</td>
                <td>{{i.mother}}</td>
                <td>{{i.address}}</td>
                <td>{{i.email}}</td>
                <td>{{i.phone}}</td>
                <td>{{i.start}}</td>
                <td>{{i.destiantion}}</td>
                <td>{{i.changeover}}</td>
                <td>{{i.ackno}}</td>
                <td>{{i.status}}</td>
                <td>{{i.college}}</td>



            </tr>
            {%endfor%}
        </table>
        <select name="usn" id="">
            {% for i in allobjs %}
            <option value="{{i.usn}}">{{i.usn}}</option>
            {{i.emp_id}}
            {% endfor %}
        </select>
        Acknowledgement Number:<input type="text" name="ack">
        <button name="appr">Assign</button>
    </form>
    {%endblock%}
	
	
  </body>
  
</html>
